
.gallery-container{
    display:grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap:16px;
}


@media screen and (min-width: 768px) and (max-width:9999px){
    .gallery-container{
        grid-template-columns: repeat(3,minmax(0,1fr));
        gap:18px;
    }
}

.loadMore{
    color: #158CC5;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

