@import "../../mixin.scss";
.mainImage{
  border-radius: 12px;
}
.thumbnailSlider {
  height: 150px !important;
  @include xs{
    height: 50px !important;
  }
}
.swiper-button-prev {
  background-image: url("../../assets/left-arrow.svg");
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  position: absolute;
  top: 45%;
  left: 1%;
  z-index: 6;
  @include xs{
    top: 20%
  }
}
.swiper-button-next {
  background-image: url("../../assets/right-arrow.svg");
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  position: absolute;
  top: 45%;
  right: 1%;
  z-index: 6;
  @include xs{
    top: 20%;
  }
}

.modalContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  
}
.imageContainer{
  height: 100%;
  display: flex;
  justify-content: center;
  background: transparent;
  padding: 50px;
}

.prevBtn {
  position: absolute;
  top: 50%;
  left: 5%;
  background: rgba(255, 255, 255, 0.6);
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.nextBtn {
  position: absolute;
  top: 50%;
  right: 5%;
  background: rgba(255, 255, 255, 0.6);
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.closeIcon{
  color: #ffffff;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  position: absolute;
  right: 5%;
}
.swiper-wrapper{
  // @include xs{
  //   height: auto !important;
  // }
}
.swiper-pagination{
  position: static;
}
.swiper-pagination-bullet{
  background: #6f6f6f !important;
  width: 30px !important;
}
.swiper-pagination-bullet-active{
  background: #2F2725 !important;
  width: 30px !important;
}
