.thumbnailSlider {
  height: 150px;
}
.swiper-button-prev {
  background-image: url("../../assets/left-arrow.svg");
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  position: absolute;
  top: 50%;
  left: 1%;
  z-index: 6;
}
.swiper-button-next {
  background-image: url("../../assets/right-arrow.svg");
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  position: absolute;
  top: 50%;
  right: 1%;
  z-index: 6;
}
