@import "../../mixin.scss";
.notificationPage {
    background: #F5F6F7;

    .menuContainer {
        border-radius: 12px;
        background: #FFF;
        padding: 30px;

        .menuItem {
            color: #3F535E;
            font-family: Metropolis;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            text-transform: capitalize;
            margin-top: 30px;
            cursor: pointer;
            height: 55px;
            display: grid;
            align-items: center;
            padding: 10px;
        }

        .activeMenu {
            border-radius: 6px;
            background: rgba(21, 140, 197, 0.04);
            color: #158CC5;
        }
    }

    .notificationList {
        border-radius: 12px;
        background: #FFF;
        padding: 30px;

        .notificationHeader {
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
            align-items: center;

            .typeName {
                color: #2F2725;
                font-family: Metropolis;
                font-size: 38px;
                font-style: normal;
                font-weight: 700;
                line-height: 46px;
                text-transform: capitalize;
                @include sm{
                    font-size:28px
                }
                @include md{
                    font-size:28px
                }
            }

            .deleteNoti {
                color: #158CC5;
                text-align: right;
                font-family: Metropolis;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                text-transform: capitalize;
                cursor: pointer;
            }
        }

        .notificationCard {
            display: flex;
            gap: 20px;
            padding: 20px 0;

            .userAvatar {
                width: 60px;

                img {
                    border-radius: 50%;
                    width: 100%;
                }
            }

            .notificationContent {
                width: 85%;

                .cardHeader {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    .userName {
                        color: #2F2725;
                        font-family: Metropolis;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 24px;
                        text-transform: capitalize;
                        margin-right: 45px;
                    }

                    .notiDate {
                        color:#C7CDD0;
                        font-family: Metropolis;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                        text-transform: capitalize;
                    }
                }
                .notiBody{
                   
                    display: grid;
                    margin-top: 20px;
                }
            }

            .projectImg {
                width: 80px;

                img {
                    width: 81px;
                    height: 70px;
                    border-radius: 1.987px;
                }
            }
        }
    }
}


// mobile view
@media screen and (min-width:561px) and (max-width:640px) {
    .notificationPage{
        .menuContainer{
            .menuItem{
                font-size: 20px;
            }
        }
    }
}
@media screen and (min-width:503px) and (max-width:560px) {
    .notificationPage{
        .menuContainer{
            .menuItem{
                font-size: 19px;
            }
        }
    }
}
@media screen and (min-width:450px) and (max-width:500px) {
    .notificationPage{
        .menuContainer{
            .menuItem{
                font-size: 17px;
            }
        }
    }
}
@media screen and (min-width:400px) and (max-width:450px){
    .notificationPage{
        .menuContainer{
            .menuItem{
                font-size: 15px;
            }
        }
    }
}
@media screen and (max-width:400px){
    .notificationPage{
        .menuContainer{
            .menuItem{
                font-size: 12px;
            }
        }
    }
}
@media screen and (max-width:639px) {
    .notificationPage {
        .menuContainer{
            padding:2px;
            .menuItem {
            margin-top: 0px;
            padding:0px;
            height:40px;
            padding:2px;   
            }
        }    
        .notificationList {
            padding:15px 15px;
            .notificationCard{

                .userAvatar{
                    width: 18%;
                }
                .notificationContent{
                    .cardHeader{
                        justify-content: normal;
                        .userName{
                            font-size: 17px;
                        }
                    }
                }
                .projectImg{
                    width:33%
                }
            }
            .notificationHeader{
                padding:0px;
                .typeName{
                    font-size: 24px;
                }
            }
        }
    }
    .menuContainer{
        border-radius: 0px;
    }
}