@import "../../mixin.scss";


.title-container::placeholder{
  
    color: #C7CDD0;
    font-family: Metropolis;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    text-transform: capitalize;
  
}

.title-container{
  border-bottom: 1px solid rgba(17, 41, 54, 0.10);
  font-family: Metropolis;
    font-size: 30px;
    font-style: normal;

    line-height: 46px;
    text-transform: capitalize;
  outline:none;
}
.custom-file-upload {
  display: inline-block;
  cursor: pointer;
}

.custom-file-upload input {
  display: none;
}

.uploadBtn {
  display: flex;
  width: 144px;
  height: 144px;
  padding: 7.784px;
  justify-content: center;
  align-items: center;
  gap: 9.73px;
  border-radius: 5.838px;
  border: 0.973px dashed #c7cdd0;
  background: #fff;
}


.folderIcon {
  display: flex;
  width: 144px;
  height: 144px;
  padding: 7.784px;
  justify-content: center;
  align-items: center;
  gap: 9.73px;
  background: #fff;
  margin: auto;
}

.uploadProductionFileDropZone {
  width: 100%;
  border-radius: 5.838px;
  border: 0.973px dashed #c7cdd0;
  background: #fff;
  display: grid;
  justify-content: center;
}

.productionFile {
  border-radius: 6px;
  background: rgba(36, 43, 46, 0.04);
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.selectFileBtn {
  
  margin: auto !important;
  border-radius: 25.11px !important;
  border: 1px solid #C7CDD0 !important;
  background: #FFF;
  color: #3F535E !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 22px !important;
  text-transform: capitalize;
  &:hover{
   
    background: rgba(17, 41, 54, 0.04);
  }
}


.fileRestriction {
  display: grid;
  align-items: flex-start;
  gap: 14px;
  margin-left: 20px;

  span {
    color: #3f535e;
    font-family: Metropolis;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    text-transform: capitalize;
  }
}
.fileRestriction-imageUpload{
  text-align: center;

  span {
    color: #3f535e;
    font-family: Metropolis;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    text-transform: capitalize;
  }
}

.CoverImageUploaderContainer {
  height: 268px;
  border-radius: 6px;
  border: 1px dashed #C7CDD0;
  background: rgba(36, 43, 46, 0.04);
  display: flex;
  justify-content: center;
  align-items: center;
}

.CoverImageEditor {
  height: 400px;
  width: 800px;
  display: grid;
  justify-content: center;
}

.description-container{
  border-radius: 2px;
  border: 1px solid rgba(17, 41, 54, 0.10);
  width:100%;
  height: 146px;
}
.MuiDialog-paper {
  max-width: 100% !important;
  height: 600px;
}

.ImageUploadDropZone {
  display: grid;
  justify-content: center;
  width: 80%;
  border-radius: 12px;
  border: 1px dashed #C7CDD0;
  background: rgba(36, 43, 46, 0.04);
  padding: 80px 50px;

  .uploadIcon {
    background: transparent;
    display: flex;

    padding: 7.784px;
    justify-content: center;
    align-items: center;
    gap: 9.73px;
    margin: auto;
  }
  .hiddenUploadIcon{
    display: none !important;
  }

  @include xs {
    width: 100%;
    padding: 30px 10px 60px 10px;

    .uploadIcon {
      height: 100px;
    }
  }
  .text-blue {
    color: #158CC5;
  }
}

.upload-sub-text{
  color:  #C7CDD0;
  font-family: Metropolis;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  text-transform: capitalize;
}
.ImageUploadDropZoneError {
  border: 1px dashed #F56C6C;
  background: #FDE2E2;
}
.select-cover-title{
  color: #2f2725;
    font-family: Metropolis;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    text-transform: capitalize;
}

.absolute.bottom-3{
  color: #C7CDD0;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 122.222% */
  text-transform: lowercase;
}
.fileRestriction-upload-file{
span {
    color: #C7CDD0;
    font-family: Metropolis;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    text-transform: capitalize;
  }
}
.fileRestriction-mobile{
  span {
    color: #3f535e;
    font-family: Metropolis;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    text-transform: capitalize;
  }
}
@media screen and (max-width: 640px) {
  .fileRestriction{
    display:none
  }
  .productionFile{
    display:none
  }
}
