.heading {
  color: #2f2725;
  font-family: Metropolis;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 121.053% */
  text-transform: capitalize;
}

.descriptionTextField {
  input {
    border-radius: 2px;
    border: 1px solid rgba(36, 43, 46, 0.1);
    background: #fff;
    height: 146px;
    flex-shrink: 0;
  }
}

.descriptionTextArea {
  width: 996px;
  height: 146px !important;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid rgba(36, 43, 46, 0.1);
  background: #fff;
}
